{% extends "documents/base.html" %}
{% block content %}

<div class="container-fluid">

<h3 class="text-center mb-4">Document Dashboard</h3>

{% if user.is_superuser %}
<div class="alert alert-primary">
  <h5>Super Admin Panel</h5>
  <a href="/admin" class="btn btn-sm btn-success">
    Manage: Users/Documents/Groups
  </a>
</div>

{% elif user.is_staff %}
<div class="alert alert-info">
  <h5>Admin Panel</h5>
  <a href="/admin/documents/companydocument/" class="btn btn-sm btn-success">
    Manage: Users/Documents/Groups
  </a>
</div>
{% endif %}

<!-- Search -->
<div class="mb-3">
  <input type="text" id="searchInput" class="form-control"
         placeholder=" Search documents...">
</div>

<div class="table-responsive d-none d-md-block">
<table class="table table-bordered table-hover shadow-sm">
    <thead class="table-light">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>Publication Type</th>
            <th class="text-center">View</th>
        </tr>
    </thead>
    <tbody>
        {% for doc in documents %}
        <tr>
            <td>{{ doc.title }}</td>
            <td>{{ doc.author|default:"-" }}</td>
            <td>{{ doc.publication_year|default:"-" }}</td>
            <td>{{ doc.publication_type|default:"-" }}</td>
            <td class="text-center">
                <a href="{% url 'secure_document_view' doc.id %}"
                   class="btn btn-sm btn-primary">
                    View
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">
                No documents available.
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<!-- Mobile View -->
<div class="d-md-none">
    {% for doc in documents %}
    <div class="card mb-3 shadow-sm">
        <div class="card-body">
            <p><strong>Title:</strong> {{ doc.title }}</p>
            <p><strong>Author:</strong> {{ doc.author|default:"-" }}</p>
            <p><strong>Year:</strong> {{ doc.publication_year|default:"-" }}</p>
            <p><strong>Type:</strong> {{ doc.publication_type|default:"-" }}</p>

            <div class="text-center">
                <a href="{% url 'secure_document_view' doc.id %}"
                   class="btn btn-primary w-100">
                    View
                </a>
            </div>
        </div>
    </div>
    {% empty %}
        <p class="text-center">No documents available.</p>
    {% endfor %}
</div>
</div>

</div>

<script>
document.getElementById("searchInput").addEventListener("keyup", function() {
    let filter = this.value.toLowerCase();
    let rows = document.querySelectorAll("#docTable tbody tr");

    rows.forEach(function(row) {
        let text = row.innerText.toLowerCase();
        row.style.display = text.includes(filter) ? "" : "none";
    });
});
</script>

{% endblock %}